* {
    box-sizing: border-box;
  }
  
body {
  background-color:#EBCAAD;
  font-family: 'Kumbh Sans', sans-serif;
    font-size: 15px;
    color: white;
    line-height: 30px;
    padding: 0px;
    text-align: center;
  }
header {
  padding: 2%;
}
header a {
  color: white;
}
.project-1, .project-2, .project-3 {
color:  #D18A4B;
}

.project-2{
  background-color: #f0d7c1;
}
.about-me {
  color:white;
  background-color: #D18A4B;
}
.resume-bttn{
  border:3px solid #fff;
  border-radius: 30px;
  padding: 15px 25px;
  color: #D18A4B;
  background-color: white;
}
.content-hide{
  display: none;
}
.hero {
  color:white;
}
p{
    text-align: left;
    padding: 10px;
    margin-top: 0px;
  }
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
a {
  color: #D18A4B;
  margin-top: 0px;
}

h1,h2,h3 {
  font-family: 'Kumbh Sans', sans-serif;
  }
h1{
    font-size: 22px;
    animation-duration: 4s;
    animation-name: slidein;
    margin-top: 30px;
  }
h2 {
    text-decoration: underline;
    font-size: 20px;
    color:#6B4B2F;
  }
h3 {
    font-size: 18px;
    color:#6B4B2F;
    text-align: left;
    padding: 20px;
    margin-bottom: 0px;
  }
.profile {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: solid;
  }
.quizPic {
  width:55%;
  height: 60%;
    display: inline-block;
    margin-top: 10px;
  }
  .plant {
      width:55%;
      height: 60%;
      display: inline-block;
      margin-top: 10px;
    }
    .music {
      width:60%;
      height: 300px;
      display: inline-block;
      margin-top: 10px;
    }

.icon {
    width:30px;
    height:30px;
 }
 .contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
 }
.info {
  font-size: 50px;
  flex-direction: row;
   padding: 10px;
   color: white;
   text-shadow: 2px  2px 0 #000,
  -1px -1px 0 #000,  
   1px -1px 0 #000,
  -1px  1px 0 #000,
   1px  1px 0 #000;
 }

.links {
  font-size: 15px;
  line-height: 14px;
  text-align: center;
  padding:0px;
}
.project-links {
  font-size: 40px;
  text-align: center;
  display: inline-block;
  justify-content: center;
  padding:10px;
  margin-left: 10px;
  margin-right: 10px;
  text-shadow: 2px  2px 0 #000,
  -1px -1px 0 #000,  
   1px -1px 0 #000,
  -1px  1px 0 #000,
   1px  1px 0 #000;
}
.entry{
  text-align: center;
  margin-bottom: 40px;
  
}
.skills {
  padding: 50px 20px;
}
.skills-cards{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2px;
  gap: 2px;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.skill-card li::before {
  content: "☑";
}
.skill-card li{
  display: flex;
  margin-bottom: 10px;
  list-style: none;
  position: relative;
  padding-left: 20px;
  font-size: 14px;

}
.dropdown {
  position: relative;
  display: inline-block;
}
.index {
    list-style-type: none;
    width: auto;
    padding: 8px 16px;
    top: 40px;
    background-color: white;
    font-weight:bold;
    position: center;
    display: none;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.index li a {
    color: #000;
    text-decoration: none;
}
a:active {
  color: white;
}
.index li {
    padding: 8px 16px;
    margin: 0;
    width: 200px;
    border-bottom: 1px solid #e5e5e5;
}
.index li:last-child {
    border-bottom: none;
}
.index li:hover {
    background-color: #D18A4B;
    color: white;
    transition: transform 0.08s linear 0.4s;
}

.menu-button{
  transition: transform 0.6s;
    padding:5px;
    color: white;
    border: 2px solid;
    font-size: 30px;
}
.menu-button:before{
    width:0px;
    height:0px;
    border: 10px solid;
    border-color: white transparent transparent transparent;
    right:6px;
    top:18px;
}
  
section {
    min-height: 200px;
    padding: 6% 0;
   
  }
  footer {
    background-color: #9E6839;
    padding: 1% 0;
  }

@media screen and (min-width: 750px){
  .skill-card li{
    font-size: 20px;
  }
.content-hide{
  flex-direction: row;
  display: inline-flex;
  padding: 0px;
  justify-content: space-between;
  color:white;
  font-size: 30px;
}

.info{
  font-size: 80px;
}
.dropdown {
  display: none;
    }

 .quizPic {
    width: 400px;
      height: 300px;
    }
   .profile{
      width: 500px;
      height: 500px;
    }
  }
  @media screen and (min-width: 800px){
    .plant{
      width: 600px;
      height: 400px;
    }
    .music {
      width: 600px;
      height: 400px;
    }

    .quizPic {
      width: 600px;
      height: 400px;
    }
    body {
      font-size: 1.5rem;
    }
    h1 {
      font-size: 40px;
      line-height: 50px;
    }
    h2{
      font-size: 35px;
    }
    h3{
      font-size: 32px;
    }
    .icon {
      width: 50px;
      height:50px;
    }
    .info {
    font-size: 100px;
    }
    .about-me {
      font-size: 1rem;
    }
  }